@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/InstrumentSans-VariableFont_wdth.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Instrument Sans', sans-serif;
}
