@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/InstrumentSans-VariableFont_wdth.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Instrument Sans', sans-serif;
}

.scrollbar-offset {
  position: relative;
  padding-right: 10px;
}

.scrollbar-offset::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background-color: transparent;
}
